@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,500&display=swap');

* {
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* * Loader * */

.body-loader {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #233f53 74%);
    z-index: 99999;
    perspective: 500px;
    transition: all 0.5s ease;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* !Navbar Menu */
.nav {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(51, 62, 74, 0.95);
    z-index: 11;
    text-align: center;
    margin: 0 auto;
    display: none;
}

.nav-container {
    max-width: 1173px;
    height: auto;
    margin: 0 auto;
}

.nav-container .close {
    width: 100%;
    height: auto;
    padding: 30px 0;
    display: flex;
    justify-content: flex-end;
}

.nav-container .close .x {
    width: 30px;
    height: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    margin-top: 5px;
    cursor: pointer;
}

.nav-container .close span:nth-child(1) {
    width: 30px;
    height: 2px;
    background: #ffffff;
    transform: rotate(45deg);
    position: absolute;
}

.nav-container .close span:nth-child(2) {
    width: 30px;
    height: 2px;
    background: #ffffff;
    transform: rotate(-45deg);
}

.nav-bar {
    width: 100%;
    height: auto;
    position: relative;
}

.nav-bar ul li {
    width: 100%;
    height: auto;
    padding: 21px 0;
}

.nav-bar ul li a {
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
}

.nav-bar ul li a:hover {
    color: #f7600e;
}

.nav-bar span {
    display: inline-block;
    width: 170px;
    height: 3px;
    background-color: #f7600e;

}

.show {
    display: block;
}

.hide {
    display: none;
}

.socials {
    width: 296px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px 0;
}

.socials .icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    object-fit: cover;
    background-color: #ffffff;
}

.socials .icon a i {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #205b9f;

}

.socials .icon a .fa-facebook {
    font-size: 43px;
    color: #205b9f;
}

.socials .icon a .fa-twitter {
    background-color: #00ace3;
    color: #ffffff;
}

.socials .icon a .fa-google-plus {
    font-size: 43px;
    color: #ff3921;
}

.socials .icon a .fa-globe {
    background-color: #ff72a5;
    color: #ffffff;
}

.socials .icon a .fa-behance {
    background-color: #009bd5;
    color: #ffffff;
}

/* * Header * */
.header {
    position: relative;
    width: 100%;
    height: auto;
    background-image: url(../images/header-background_01.gif);
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.header .header-big-div {
    width: 100%;
    height: auto;
    background: rgba(51, 62, 74, 0.9);

}

.header-div {
    max-width: 1173px;
    height: auto;
    margin: 0 auto;
    padding-bottom: 50px;
}

.menu-div {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
}

.menu-div a {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}

.menu-div a span {
    color: #f7600e;
}

.menu-bar {
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-bar p {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.menu-bar .bars {
    width: 27px;
    height: 22px;
    cursor: pointer;

}

.bars .burger {
    width: 100%;
    height: 2px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6px;
    background-color: #ffffff;
}

.slid {
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 170px;
}

.slid h1 {
    font-size: 52px;
    font-weight: 800;
    color: #ffffff;
}

.slid h1 span {
    color: #f7600e;
}

.slid p {
    padding-top: 36px;
    font-size: 19px;
    font-weight: 400;
    color: #ffffff;
}

.slid .button {
    padding: 66px 0 196px;
    max-width: 451px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.slid .button button {
    width: 210px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: 2px solid #65696e;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: .5s ease;
}

.slid .button button:hover {
    background-color: #f7600e;
    border: none;
}

.div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

/* * Services * */

.section {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
}

.section .services-container {
    max-width: 1173px;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;

}

.services-container .box {
    width: 180px;
    height: auto;
    text-align: center;
    padding-bottom: 100px;
}

.services-container .box .img {
    width: 100%;
    height: auto;
}

.services-container .box .box-text {
    width: 100%;
    height: auto;
}

.services-container .box .box-text h4 {
    font-size: 16px;
    font-weight: 600;
    color: #3b434c;
    padding: 30px 0;
}

.services-container .box .box-text p {
    font-size: 14px;
    font-weight: 400;
    color: #3b434c;
}

/* * NEW LETTER * */
.new-section {
    width: 100%;
    height: auto;
    background: url(../images/coffe_02.jpg);
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.new-section .new-shadow {
    width: 100%;
    height: auto;
    background: rgba(51, 62, 74, 0.9);
}

.new-section .new-letter {
    max-width: 1173px;
    height: auto;
    margin: 0 auto;
    padding: 98px 0;

}

.new-letter .form {
    max-width: 1173px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.new-letter form input {
    width: 565px;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    margin: 0 30px 0 0;
    font-size: 16px;
    font-weight: 300;
    color: #3b434c;
}

.new-letter form button {
    width: 270px;
    height: 50px;
    border: 2px solid #65696e;
    border-radius: 10px;
    background: none;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease;
}

.new-letter form button:hover {
    background-color: #f7600e;
}

/* * OUR WORK * */
.our-section {
    width: 100%;
    height: auto;
}

.work {
    max-width: 1173px;
    height: auto;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.work h1 {
    font-size: 35px;
    font-weight: 600;
    color: #3b434c;
}

.work h1 span {
    color: #f7600e;
}

.work p {
    font-size: 16px;
    font-weight: 400;
    color: #3b434c;
    padding-top: 30px;
}

.work .card-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
}

.work .card-box .card {
    position: relative;
    width: 360px;
    height: auto;
    margin: 10px auto;
    /* transition: .5; */
}

.work .card-box .card .hover-card {
    width: 360px;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(248, 112, 38, 0.9);
    padding: 87px 55px;
    cursor: pointer;
    display: none;
}

.work .card-box .card:hover .hover-card {
    display: block;
}

.work .card-box .card .hover-card h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}

.work .card-box .card .hover-card p {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

.work .card-box .card .hover-card button {
    width: 210px;
    height: 50px;
    margin-top: 50px;
    border-radius: 10px;
    border: 2px solid #ffffff;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    background: none;
    cursor: pointer;
    transition: .4s ease;
}

.work .card-box .card .hover-card button:hover {
    background: #ffffff;
    color: #f7600e;
}

.work button {
    width: 210px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #65696e;
    background: none;
    font-size: 16px;
    font-weight: 600;
    color: #3b434c;
    margin-top: 100px;
    transition: .5s ease;
}

.work button:hover {
    background-color: #f7600e;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

/* * Client * */
.client {
    width: 100%;
    height: auto;
    background: url(../images/woman_02.jpg);
    background-size: cover;
    object-fit: contain;
    overflow: hidden;
}

.client .client-container {
    max-width: 100%;
    height: auto;
    background: rgba(51, 62, 74, 0.9);
}

.slider {
    max-width: 1173px;
    height: auto;
    margin: 0 auto;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-card {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 100px 0;

}

.client-card .client-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
}

.client-card .client-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-card p {
    font-size: 25px;
    font-weight: 400;
    color: #ffffff;
    padding: 40px 0;
}

.client-card h6 {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

/* * TEAM * */
.our {
    width: 100%;
    height: auto;
    background-color: #ffffff;
}

.team {
    max-width: 1173px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 98px 0;
}

.team h1 {
    font-size: 35px;
    font-weight: 600;
    color: #f7600e;
}

.team h1 span {
    color: #3b434c;
}

.team p {
    font-size: 16px;
    font-weight: 400;
    color: #3b434c;
    padding: 30px 0;
}

.team .team-box {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.team-box .team-card {
    width: 250px;
    height: auto;
    filter: grayscale(1);
    cursor: pointer;
    transition: .3s ease;
}

.team-box .team-card:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

.team-box .team-card:hover .team-img {
    border-bottom: 3px solid #f7600e;
}

.team-box .team-card .team-img {
    width: 100%;
    height: 100%;
}

.team-box .team-card .team-img img {
    width: 100%;
    height: 100%;
}

.team-box .team-card h3 {
    font-size: 25px;
    font-weight: 600;
    color: #3b434c;
    padding: 30px 0;
}

.team-box .team-car p {
    font-size: 14px;
    font-weight: 400;
    color: #3b434c;
}

.team-box .team-card .team-icons {
    width: 100px;
    height: auto;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.team-box .team-card .team-icons .team-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffffff;
}

.team-box .team-card .team-icons .team-icon i {
    font-size: 25px;
    color: #205b9f;
}

.team-box .team-card .team-icons .team-icon:nth-child(2) {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00ace3;
}

.team-box .team-card .team-icons .team-icon .fa-twitter {
    font-size: 20px;
    color: #ffffff;
    padding: 2px;
}

.team-box .team-card .team-icons .team-icon .fa-google-plus {
    color: #ff3921;
}

/* * CONTACT * */
.contact-container {
    width: 100%;
    height: auto;
    background: url(../images/contact_02.jpg);
    background-size: cover;
    object-fit: cover;
    overflow: hidden;
}

.contact-container .contact-bg {
    width: 100%;
    height: auto;
    background: rgba(51, 62, 74, 0.9);
}

.contact {
    max-width: 1173px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 140px 0;
}

.contact h1 {
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
}

.contact h1 span {
    color: #f7600e;
}

.contact p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    padding: 30px 0 90px 0;
}

.contact .contact-form {
    max-width: 830px;
    height: auto;
    margin: 0 auto;
}

.contact .contact-form .input {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.contact .contact-form .input .email,
.contact .contact-form .input .sub {
    width: 400px;
    height: 50px;
    border-radius: 15px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #3b434c;
}

.contact .contact-form textarea {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 15px;
    padding: 20px;
}

.contact .contact-form .contact-button {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 0;
}

.contact .contact-form .contact-button button {
    width: 210px;
    height: 50px;
    background: none;
    border-radius: 15px;
    border: 3px solid #65696e;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    transition: .3s ease;
}

.contact .contact-form .contact-button button:hover {
    background-color: #f7600e;
    border: none;
    cursor: pointer;
}

.contact .contact-form .contact-button .socialss {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: space-around;
}

.contact .contact-form .contact-button .socialss .icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.contact .contact-form .contact-button .socialss .icon:nth-child(1) {
    background-color: #205b9f;
}

.contact .contact-form .contact-button .socialss .icon a .fa-facebook-f {
    color: #ffffff;
}

.contact .contact-form .contact-button .socialss .icon:nth-child(2) {
    background-color: #00ace3;
}

.contact .contact-form .contact-button .socialss .icon a .fa-twitter {
    color: #ffffff;
}

.contact .contact-form .contact-button .socialss .icon:nth-child(3) {
    background-color: #ff3921;
}

.contact .contact-form .contact-button .socialss .icon a .fa-google-plus-g {
    color: #ffffff;
}

.contact .contact-form .contact-button .socialss .icon:nth-child(4) {
    background-color: #ff72a5;
}

.contact .contact-form .contact-button .socialss .icon a .fa-globe {
    color: #ffffff;
}

.contact .contact-form .contact-button .socialss .icon:nth-child(5) {
    background-color: #009bd5;
}

.contact .contact-form .contact-button .socialss .icon a .fa-behance {
    color: #ffffff;
}

/* * FOOTER */
footer {
    width: 100%;
    height: 100px;
    background-color: #3b434c;
}

.footer-container {
    max-width: 1173px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-container p {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.footer-container p span {
    font-weight: 700;
    color: #ff3921;
}

@media(max-width:1180px) {

    .header-div,
    .team,
    .footer-container {
        margin: 0 20px 0 20px;
    }

}

@media(max-width:869px) {
    .form form input {
        margin: 0;
    }
}

@media(max-width:839px) {
    .form form {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:835px) {
    .form form button {
        margin-top: 20px;
    }

    .contact {
        margin: 0 15px 0 15px;
    }
}

@media(max-width:830px) {

    .contact .contact-form .input .email,
    .contact .contact-form .input .sub {
        width: 100%;
        margin: 10px 0;
    }
}

@media(max-width:768px) {

    .client-card p,
    .client-card–ê h6 {
        font-size: 18px;
    }

}

@media(max-width:577px) {
    .form form input {
        width: 100%;
    }
}

@media(max-width:540px) {
    .team-box .team-card {
        margin: 20px auto;
    }

    .contact-button {
        margin-top: 50px;
    }

    .contact-button button {
        margin: 0 auto;
    }

    .contact-button .socialss {
        margin: 20px auto;
    }
}

@media(max-width:460px) {
    .button button {
        margin: 10px auto;
    }

    .new-letter .form {
        margin: 10px;
    }
}

@media(max-width:425px) {

    .nav-container {
        margin: 0 10px;
    }

    .nav-bar ul li{
        padding: 10px;
    }

    .nav-bar ul li a {
        font-size: 20px;
    }

    .socials{
        padding: 20px 0;
    }

    .socials .icon {
        width: 40px;
        height: 40px;
    }

    .socials .icon a {
        font-size: 20px;
    }

    .slid h1 {
        font-size: 30px;
    }

    .slid p {
        font-size: 18px;
    }
}

@media(max-width:360px) {
    .services-container .box {
        margin: 0 auto;
    }

    .footer-container p {
        text-align: center;
        margin: 0 auto;
    }
}